# Combining Twitter and Power Outage data
___

## Imports

In [34]:
import pandas as pd
import time
from datetime import datetime, timedelta

In [35]:
twitter_df = pd.read_csv('../Data/twitter_states_cleaned_2014_19.csv')
power_df = pd.read_csv('../Data/power_outage.csv')

In [36]:
# power_df = power_df.drop(columns=['Unnamed: 0', 'Month', 'Alert Criteria', 'Number of Customers Affected',
#                                  'Hour Event Began', 'NERC Region', 'Alert Criteria', 'Area Affected',
#                                  'Demand Loss (MW)'])
# twitter_df = twitter_df.drop(columns=['tweet_word_count', 'user_name', 'port_tweet', 'num_likes', 'num_retweets'])

In [37]:
power_df.head()

,Unnamed: 0,Month,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Area Affected,NERC Region,Alert Criteria,Event Type,Demand Loss (MW),Number of Customers Affected,state,Hour Event Began,time_location
0,0,January,2014-01-06,19:50:00,01/06/2014,20:44:00,District of Columbia,RFC,Missing,Voltage Reduction due to Severe Weather - Cold,Unknown,Unknown,District of Columbia,19,2014-01-06 19:00:00 | District of Columbia
1,1,January,2014-01-06,19:50:00,01/06/2014,20:44:00,Unknown,RFC,Missing,Voltage Reduction due to Severe Weather - Cold,Unknown,Unknown,Unknown,19,2014-01-06 19:00:00 | Unknown
2,2,January,2014-01-06,19:52:00,01/06/2014,20:45:00,Delaware,RFC,Missing,Voltage Reduction due to Severe Weather - Cold,Unknown,Unknown,Delaware,19,2014-01-06 19:00:00 | Delaware
3,3,January,2014-01-06,20:45:00,01/07/2014,21:00:00,Unknown,RFC,Missing,Public Appeal due to Severe Weather - Cold,Unknown,Unknown,Unknown,20,2014-01-06 20:00:00 | Unknown
4,4,January,2014-01-06,19:50:00,01/06/2014,20:49:00,Pennsylvania,RFC,Missing,Voltage Reduction due to Severe Weather - Cold,200,62000,Pennsylvania,19,2014-01-06 19:00:00 | Pennsylvania

In [38]:
twitter_df.head()

,tweet,location,user_name,time_stamp,num_retweets,num_likes,tweet_word_count,port_tweet,time_location
0,and we could spend the rest of the money on ra...,Alabama,samd9273,2019-10-31 22:11:35,0,0,23,and we could spend the rest of the money on ra...,2019-10-31 22:00:00 | Alabama
1,we sorry to hear the power is out please dm th...,Alabama,alabamapower,2019-10-31 21:53:10,0,0,23,we sorri to hear the power is out pleas dm the...,2019-10-31 21:00:00 | Alabama
2,drx1304 think of how many ducks we could buy w...,Alabama,samd9273,2019-10-31 21:44:15,0,1,13,drx1304 think of how mani duck we could buy wi...,2019-10-31 21:00:00 | Alabama
3,it s spooky season,Alabama,OMGItsBlackout,2019-10-31 18:17:20,0,0,3,it s spooki season,2019-10-31 18:00:00 | Alabama
4,newsom raked in big money from public utility ...,Alabama,deenie7940,2019-10-31 13:58:11,0,0,19,newsom rake in big money from public util he i...,2019-10-31 13:00:00 | Alabama

In [39]:
print(twitter_df.shape)
print(power_df.shape)

(18990, 9)
(1325, 15)

___
## Merge the two dataframes

In [40]:
twitter_df['date_only'] = [f"{post.split('|')[0].split()[0]}" 
 for i, post in enumerate(twitter_df['time_location'])]

power_df['date_only'] = [f"{post.split('|')[0].split()[0]}" 
 for i, post in enumerate(power_df['time_location'])]

In [41]:
# power_df = power_df.drop(columns=['Unnamed: 0', 'Month', 'Alert Criteria', 'Number of Customers Affected',
#                                  'Hour Event Began', 'NERC Region', 'Alert Criteria', 'Area Affected',
#                                  'Demand Loss (MW)'])
#df.drop(columns=['tweet_word_count', 'user_name', 'port_tweet', 'num_likes', 'num_retweets', 'Unnamed: 0', 'Month', 'NERC Region', 'Hour Event Began' ])

In [42]:
df = pd.merge(twitter_df, power_df, on='date_only', how='inner')
df.shape

(9673, 25)

In [44]:
df.columns

Index(['tweet', 'location', 'user_name', 'time_stamp', 'num_retweets',
       'num_likes', 'tweet_word_count', 'port_tweet', 'time_location_x',
       'date_only', 'Unnamed: 0', 'Month', 'Date Event Began',
       'Time Event Began', 'Date of Restoration', 'Time of Restoration',
       'Area Affected', 'NERC Region', 'Alert Criteria', 'Event Type',
       'Demand Loss (MW)', 'Number of Customers Affected', 'state',
       'Hour Event Began', 'time_location_y'],
      dtype='object')

In [53]:
df_final = df.loc[:,['tweet', 'location', 'date_only', 'state', 'Number of Customers Affected', 'Demand Loss (MW)']]

In [65]:
df_final

,tweet,location,date_only,state,Number of Customers Affected,Demand Loss (MW)
0,we will we will blackout clarionfaithful culater,Alaska,2014-08-30,Pennsylvania,Unknown,Unknown
1,nflosophy smartfootball bomani jones they ve g...,Georgia,2014-08-30,Pennsylvania,Unknown,Unknown
2,blackout cake carbonenewyork carbone newyork n...,New York,2014-08-30,Pennsylvania,Unknown,Unknown
3,typical friday night blackout,New York,2014-08-30,Pennsylvania,Unknown,Unknown
4,there s no finer line than the one between sob...,New York,2014-08-30,Pennsylvania,Unknown,Unknown
...,...,...,...,...,...,...
9668,drinking a barrel aged blackout stout 2013 by ...,Wyoming,2015-10-18,California,55677,88
9669,crap power outage and the consumersenergy page...,Wyoming,2015-06-27,Michigan,68000,Unknown
9670,electric forest was incredible last night now ...,Wyoming,2015-06-27,Michigan,68000,Unknown
9671,blackout smithsonian african american museum w...,District of Columbia,2016-09-25,Arizona,10000,20
9672,blackout smithsonian african american museum w...,District of Columbia,2016-09-25,Utah,10000,20

In [67]:
df_final = df_final[~df_final['Number of Customers Affected'].str.contains("Unknown")]

In [75]:
df_final[(df_final['state'] == df_final['location']) & (df_final['date_only'] == '2019-07-13')]

,tweet,location,date_only,state,Number of Customers Affected,Demand Loss (MW)
1346,i m so lucky i left work before the power outa...,New York,2019-07-13,New York,72669,452
1350,currently surviving the nyc blackout,New York,2019-07-13,New York,72669,452
1354,this power outage is why i ll never see the en...,New York,2019-07-13,New York,72669,452
1358,why did the blackout affect everything in new ...,New York,2019-07-13,New York,72669,452
1362,no power no problem we walked 41 flights and a...,New York,2019-07-13,New York,72669,452
...,...,...,...,...,...,...
2230,i stan for blackout curtains,New York,2019-07-13,New York,72669,452
2252,davegramana is this blackout all your fault ho...,Washington,2019-07-13,Washington,63000,Unknown
2256,at this point you might be right to wonder pow...,Washington,2019-07-13,Washington,63000,Unknown
2260,thanks rep paul gosar i hope you run for presi...,Washington,2019-07-13,Washington,63000,Unknown
2264,living in the alexandria annandale springfield...,Washington,2019-07-13,Washington,63000,Unknown

In [24]:
twitter_df.to_csv('../Data/twitter_target.csv', index=False)