In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [18]:
# Import weather data from year 2014 - 2019 for 8 states
data_list = []
for i in range(1, 9):
    data = pd.read_csv(f"../Data/WeatherData_2014_2019_State_{i}.csv", encoding = 'unicode_escape', index_col=None, header=0)
    data_list.append(data)
df = pd.concat(data_list, axis=0, ignore_index=True)

In [25]:
df.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,Time,time_location,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,497009,SOUTHERN SACRAMENTO VALLEY (ZONE),,1/1/14,0,0:00,2014-01-01 0:00:00 | California,Drought,,,...,,,,,,,,A plethora of records were set across interior...,January was an abnormally dry and warm month f...,1
1,498466,SE KERN CTY DESERT (ZONE),,1/1/14,0,0:00,2014-01-01 0:00:00 | California,Drought,,,...,,,,,,,,NaN,The California drought continued in full force...,2
2,498465,INDIAN WELLS VLY (ZONE),,1/1/14,0,0:00,2014-01-01 0:00:00 | California,Drought,,,...,,,,,,,,NaN,The California drought continued in full force...,3
3,498464,TULARE CTY MTNS (ZONE),,1/1/14,0,0:00,2014-01-01 0:00:00 | California,Drought,,,...,,,,,,,,NaN,The California drought continued in full force...,4
4,498463,S SIERRA MTNS (ZONE),,1/1/14,0,0:00,2014-01-01 0:00:00 | California,Drought,,,...,,,,,,,,NaN,The California drought continued in full force...,5

In [26]:
df.tail()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,Time,time_location,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
53713,845037,SPOKANE CO.,SPOKANE,7/23/19,2000,20:00,2019-07-23 20:00:00 | Washington,Thunderstorm Wind,52,,...,1,ESE,SPOKANE,47.6631,-117.4037,47.6631,-117.4037,City of Spokane crews removed 26 downed trees ...,"During the evening of July 23rd, a strong uppe...",277
53714,845008,SPOKANE CO.,SPOKANE,7/23/19,2015,20:15,2019-07-23 20:00:00 | Washington,Lightning,,,...,1,NNE,SPOKANE,47.6905,-117.4102,47.6905,-117.4102,Lightning striking a power line caused a fire ...,"During the evening of July 23rd, a strong uppe...",278
53715,836472,SPOKANE CO.,(SFF)FELTS FLD SPOKA,7/23/19,2021,20:21,2019-07-23 20:00:00 | Washington,Thunderstorm Wind,54,,...,0,NW,(SFF)FELTS FLD SPOKA,47.6827,-117.3238,47.6827,-117.3238,The ASOS station at the Spokane Felts Field Ai...,"During the evening of July 23rd, a strong uppe...",279
53716,834019,FERRY CO.,METEOR,7/23/19,2030,20:30,2019-07-23 20:00:00 | Washington,Thunderstorm Wind,52,,...,4,WNW,METEOR,48.2893,-118.366,48.2893,-118.366,A thunderstorm wind gust caused a tree to fall...,"During the evening of July 23rd, a strong uppe...",280
53717,834018,PEND OREILLE CO.,NEWPORT,7/23/19,2050,20:50,2019-07-23 20:00:00 | Washington,Thunderstorm Wind,52,,...,1,NE,NEWPORT,48.1871,-117.0411,48.1871,-117.0411,A member of the public reported a 12 inch diam...,"During the evening of July 23rd, a strong uppe...",281

In [30]:
df.dtypes

EVENT_ID                int64
CZ_NAME_STR            object
BEGIN_LOCATION         object
BEGIN_DATE             object
BEGIN_TIME              int64
Time                   object
time_location          object
EVENT_TYPE             object
MAGNITUDE              object
TOR_F_SCALE            object
DEATHS_DIRECT           int64
INJURIES_DIRECT         int64
DAMAGE_PROPERTY_NUM     int64
DAMAGE_CROPS_NUM        int64
STATE                  object
CZ_TIMEZONE            object
MAGNITUDE_TYPE         object
EPISODE_ID              int64
CZ_TYPE                object
CZ_FIPS                 int64
WFO                    object
INJURIES_INDIRECT       int64
DEATHS_INDIRECT         int64
SOURCE                 object
FLOOD_CAUSE            object
TOR_LENGTH             object
TOR_WIDTH              object
BEGIN_RANGE            object
BEGIN_AZIMUTH          object
END_RANGE              object
END_AZIMUTH            object
END_LOCATION           object
BEGIN_LAT              object
BEGIN_LON              object
END_LAT                object
END_LON                object
EVENT_NARRATIVE        object
EPISODE_NARRATIVE      object
ABSOLUTE_ROWNUMBER      int64
dtype: object

In [31]:
# Fill NA with "Unknown"
df = df.fillna("Unknown")

In [33]:
df.shape

(53718, 39)

In [34]:
df.to_csv("../Data/weather_data.csv")